$background-color: #102542;
$header-color: #ffff;
$timer-color: #f87060;
$start-btn-color: #98cd8b;
$stop-btn-color: #cd8f8b;

//Cards Color
$card-background: #f5f87c;
$color-text: #595959;
$outline-color-text: #006bff;
